* {
    margin: 0;
    padding: 0;
}

* Header */ .header {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    background-color: #f8f9f9;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    z-index:1;

}

.header:hover {
    border-style: hidden;
    background-color: #e3e6e8;
    opacity: 1;
}

.headerTop {
    border: 1px solid #f48225;
    background-color: #f48225;
}

.headerRest {
    display: flex;
    align-items: center;
    background-color: #f8f9f9;
    padding-left: 128px;
    padding-right: 150px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 0.2);
}

.logoImage img {
    width: 150px;
}

.headerRest img {
    width: 24px;
    background-color: #f8f9f9;
    padding: 1px;
    padding-right: 5px;
    padding-left: 5px;
}

.dropButton {
    background-color: transparent;
    color: rgba(129, 129, 129,0.8);
    padding: 8px;
    font-size: 12px;
    cursor: pointer;
    border: 1px solid rgba(129, 129, 129,0.4);
    border-radius: 3px;
}

.dropdownContent img {
    width: 16px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.imageAnchor {
    display: flex;
}

.dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownContent a:hover {
    background-color: white;
}

.dropdown:hover .dropdownContent {
    display: block;
}

.dropdown:hover .dropButton {
    background-color: #e3e6e8;
}

.logoImage img {
    width: 150px;
}

.headerRest span {
	font-size:12px;
    padding: 10px;
    cursor: pointer;
    background-color: #f8f9f9;
}

.prod {
    margin-left: 8px;
    margin-right: 8px;
    font-size: 13px;
    padding-top: 0px;
    padding-bottom: 2px;
    background-color: #f8f9f9;
    opacity: 0.7;
}

.prod:hover {
    border-style: hidden;
    background-color: #e3e6e8;
    border-radius: 20px;
    opacity: 1;
}

.headerRest img:hover {
    border-style: hidden;
    background-color: #e3e6e8;
}

.profilePage {
    display: flex;
    align-items: center;
    margin-left: 12px;
    margin-right: 20px;
    background-color: #f8f9f9;
    border-style: hidden;
}

.profilePage img {
    width: 24px;
}

.profilePage b {
    text-align: justify;
	font-size:12px;
}

.profilePage:hover {
    cursor: pointer;
    background-color: #e3e6e8;
    border-style: hidden;
}

.dropdownContent img {
    width: 20px;
}

.headerSearch {
    display: flex;
    flex: 1;
    align-items: center;
    border: 1px solid rgba(129, 129, 129,0.5);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    padding: 1px;
    color: white;
    background-color: white;
}

.headerSearch img {
    width: 16px;
    padding: 5px;
    background-color: transparent;
}

.headerSearch input {
    border: none;
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: medium;
    background-color: transparent;
    display: inline-block;
    padding: 1px 1px;
}

.headerSearch:active {
    border-color: #0074cc;
}

.headerSearch:focus {
    border: 3px solid #0074cc;
}

.sidebar {
    flex: 0.3;
    max-width: 164px;
    padding-left: 128px;
    font-size: 12px;
    border-right: 1px solid rgba(129, 129, 129,0.2);
}

.sidebarOption {
    display: flex;
    align-items: right;
    padding: 0 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    cursor: pointer;
    color: #818181;
}

.sidebarOption img {
    padding-top: 10px;
    width: 22px;
}


.sidebarOptionActive,
.sidebarOptionActive img {
    background-color: #f1f2f3;
    color: black;
    font-weight: 800;
}

.sidebarOption:hover {
    color: black;
}

.infosize {
    font-size: 12px;
    padding-top: 3px;
}

.home {
    padding-top: 25px;
	color: #525960;
}

.public {
    padding-top: 7px;
	font-size: 11px;
}

.questionImg img{
	padding:5px;
	padding-top:0px;
}

.infoImg{
	padding-top:10px;	
}

.infoImg img{
	padding-top:0px;
	width: 12px;	
}

.questions,
.collectives,
.expcollectives,
.teams,
.freeteam {
    font-size: 13px;
    padding-top: 1px;
    padding-right: 2px;
}

.collectiveSpace{
	padding-right:60px;	
}

.teamSpace{
	padding-right:90px;
}

.tags,
.users,
.companies {
    padding-left: 25px;
}

.collectives {
    font-size: 11px;
    
}

.teams {
    font-size: 11px;
}

.expcollective {
    padding-top: 5px;
}

.sidebarOptionActive {
    border-right: 3px solid #f48225;
}

/* bigbody */
.mainBody {
    display: flex;
}

body {
    overflow-x: hidden;
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI Adjusted",
        "Segoe UI", "Liberation Sans", sans-serif;
}

/* restBody */

.restBodyHead {
    flex: 1;
    padding-left: 15px;
}
.restBody {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px whitesmoke;
    background-color: white;
    margin: 8px;
    padding-right: 200px;
}

.restBodyLeft {
    margin-top:20px;
    margin-right: 10px;
    border-radius:10%;
    box-shadow: 1px 0px 5px 0px rgb(220, 225, 228);
}

.restBodyLeft img {
    width: 120px;
}

.box {
    width: 400px;
    padding-right: 100px;
    /* margin: 20px; */
    margin-right: auto;
    padding-left: 10px;
}

.name {
    margin-top: 15px;
    /* margin-right: 100px; */
    padding-right: 100px;
    font-weight: 400;
    font-size: xx-large;
    /* padding-left: 15px; */
}

.cakeDesc {
    font-size: 12px;
    font-weight: 400;
    margin-right: 20px;
    color: gray;
    padding-left: 5px;
    margin-right: 10px;
}

.emoji {
    color: black;
    margin-left: 15px;
    margin-bottom: 10px;
}

.nameBodyOption {
    display: flex;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    color: grey;
    margin-top: 5px;
    padding-bottom: 12px;
}

.nameBodyOption img {
    width: 18px;
    aspect-ratio: 1 / 1;
}

.localBodyOption {
    display: flex;
    align-items: 40px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    color: grey;
    margin-left: 1px;
}

.profDetails {
    padding: 5px;
    color: #818181;
}

.localBodyOption img {
    width: 18px;
    aspect-ratio: 1 / 1;
}

.section {
    display: flex;
    cursor: pointer;
}

.listSection {
    display: flex;
}

.profile {
    margin-left: 10px;
    text-transform: capitalize;
    color: rgb(253, 250, 250);
    padding: 7px;
    border-radius: 30px;
    background-color: #f48225;
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
}

.profile:hover {
    margin-left: 10px;
    text-transform: capitalize;
    font-weight: 300;
    color: rgb(247, 244, 244);
    padding: 7px;
    border-radius: 30px;
    background-color: rgb(216, 109, 22);
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 0px 2px 2px 0px;
}

.about {
    margin-left: 10px;
    text-transform: capitalize;
    color: gray;
    padding: 7px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
}

.about:hover {
    margin-left: 10px;
    text-transform: capitalize;
    font-weight: 300;
    color: rgb(32, 31, 31);
    padding: 7px;
    border-radius: 30px;
    background-color: rgb(230, 225, 225);
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 0px 2px 2px 0px;
}

.stats {
    width: 150px;
    padding-right: 80px;
    margin-right: 20px;
    border: 1px solid rgba(129, 129, 129,0.2);
    border-radius: 5px;
    margin-bottom: 60px;
}

.h2 {
    padding-top: 12px;
}

.numbers {
    display: flex;
    align-items: 40px;
    padding: 0 5px;
    padding-left: 10px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
}

.statNum,
.statText {
    display: flex;
}

.statText {
    font-size: 13px;
    color: #818181;
}

.stats img {
    padding-left: 10px;
    width: 24px;
}

.statNumLeft {
    padding: 7px;
    padding-top: 10px;
}

.textNumLeft {
    padding: 7px;
    padding-top: 3px;
    padding-bottom: 20px;
}

.statNumRight {
    padding: 7px;
    padding-top: 10px;
    padding-left: 40px;
}

.textNumRight {
    padding: 7px;
    padding-left: 40px;
    padding-top: 3px;
    padding-bottom: 20px;
}

.statTextPercent {
    display: flex;
    font-weight: 100;
    font-size: 15px;
    align-items: 40px;
    color: #818181;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    margin-left: 10px;
}

.statNumber {
    padding: 5px;
}

.statTextPercent b {
    margin-left: 10px;
    margin-right: 10px;
}

.space {
    padding-right: 40px;
}

.community {
    width: 160px;
    padding-right: 100px;
    margin-right: 60px;
    border: 1px solid rgba(129, 129, 129,0.2);
    border-radius: 5px;
    font-size: 13px;
}

.community img {
    padding-top: 2px;
    width: 20px;
}

.communityOption{
	text-align:center;
}

.statHead {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 21px;
    margin-bottom: 10px;
}

.statUser {
    display: flex;
    margin-top: 10px;
}

.aboutSpace {
    padding-left: 250px;
}

.a:link {
    color: #0063bf;
    text-decoration: underline;
}

a:visited {
    color: #0063bf;
}

.aboutUser {
}

.info {
    padding-top: 1px;
}

.infoSpace {
    padding-top: 10px;
}

.li {
    padding-top: 1px;
}

.collectiveHead {
    margin-bottom: 10px;
    font-size: large;
}

.collectiveBox {
    width: 200px;
    display: flex;
    border: 1px solid rgba(129, 129, 129,0.2);
    border-radius: 5px;
    font-size: 13px;
}

.collectiveText {
    padding-top: 10px;
    padding-left: 15px;
}

.badgeNumber {
    font-size: 21px;
    font-weight: bold;
}

.badges {
    width: 210px;
    padding-right: 10px;
    margin-right: 40px;
    border: 1px solid rgba(129, 129, 129,0.2);
    border-radius: 5px;
}

.communityBadge {
    display: flex;
}

.viewSpace{
	padding-left: 65px;
	font-color: rgba(129, 129, 129,0.2);
	font-size: 13px;	
}

.viewSpace img{
	width:12px;
}

.communitySpace {
    padding-left: 55px;
}

.communityView{
	padding-left: 585px;
	font-color: rgba(129, 129, 129,0.8);
	font-size: 12px;
}

.gold img {
    width: 50px;
    padding: 5px;
}

.gold {
    display: flex;
}

.goldSub {
    margin-left: 7px;
    padding-top: 3px;
}

.badgeText {
    font-size: small;

}

.buttonBadge {
    display: flex;
    width: 200px;
    margin-left: 7px;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: right;
}

.badgeSpace {
    margin-right: 20px;
    font-size: 10px;
}

.buttonBadge button {
    padding: 5px;
    cursor: pointer;
    align-items: center;
    border-color: rgba(129, 129, 129,0.7);
    border-radius: 4px;
    border-width: 1.5px;
    /* background-color: rgb(12, 173, 248); */
    margin-right: 15px;
    margin-bottom: 5px;
    color: #818181;
    font-size: 11px;
}

.communityLine {
    padding-bottom: 3px;
}

.communityLine img {
    text-align: justify;
    padding-top:5px;
}

.topTag{
	padding-top: 20px;
	padding-left: 320px; 
     font-size: 21px;

}

.topTagSpace{
	padding-left: 600px;
	font-color: rgba(129, 129, 129,0.8);
	font-size: 12px;
}

.tagStart{
	display:flex;	
}

.table{
	border: 1px solid black;
	border-collapse:collapse;
}
.tr{
	border:1px solid black;
}
