* {
	margin: 0;
	padding: 0;

}

.header {
	position: sticky;
	top: 0;
	align-items: center;
	cursor: pointer;
	justify-content: space-between;
	border-bottom: 1px solid whitesmoke;
	background-color: #f8f9f9;
	z-index: 1;

}

.header:hover {
	border-style: hidden;
	background-color: #e3e6e8;
}

.headerRest {
	display: flex;
	align-items: center;
	background-color: #f8f9f9;
	padding-left: 35px;
	padding-right: 50px;
	box-shadow: 0 1px 3px rgb(0 0 0 / 0.2);
	border-top: 3px solid #f48225;
}

.logoImage img {
	width: 150px;
}

.headerRest img {
	width: 24px;
	background-color: #f8f9f9;
	padding: 1px 5px;
}

.dropButton {
	background-color: transparent;
	color: rgba(129, 129, 129);
	padding: 8px;
	font-size: 12px;
	cursor: pointer;
	border: 1px solid rgba(129, 129, 129, 0.4);
	border-radius: 3px;
	margin-top: 10px;
}

.dropdownContent img {
	width: 16px;
}

.dropdown {
	display: inline-block;
}


.imageAnchor {
	display: flex;
}

.dropdownContent a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdownContent a:hover {
	background-color: white;
}

.dropdown:hover .dropdownContent {
	display: block;
}

.dropdown:hover .dropButton {
	background-color: #e3e6e8;
}

.logoImage img {
	width: 150px;
}

.headerRest span {
	font-size: 12px;
	padding: 10px;
	cursor: pointer;
	background-color: #f8f9f9;
}

.prod {
	margin: 0 8px;
	font-size: 13px;
	padding: 0 0 2px 0;
	background-color: #f8f9f9;
	opacity: 0.7;
}

.prod:hover {
	border-style: hidden;
	background-color: #e3e6e8;
	border-radius: 20px;
}

.headerRest img:hover {
	border-style: hidden;
	background-color: #e3e6e8;
}

.profilePage {
	display: flex;
	align-items: center;
	margin: 0 20px 0 12px;
	background-color: #f8f9f9;
	border-style: hidden;
}

.profilePage img {
	width: 24px;
}

.profilePage b {
	text-align: justify;
	font-size: 12px;
}

.profilePage:hover {
	cursor: pointer;
	background-color: #e3e6e8;
	border-style: hidden;
}

.dropdownContent img {
	width: 20px;
}

.headerSearch {
	display: flex;
	flex: 1;
	align-items: center;
	border: 1px solid rgba(129, 129, 129, 0.5);
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 2px;
	padding: 1px;
	color: white;
	background-color: white;
}

.headerSearch img {
	width: 16px;
	padding: 5px;
	background-color: transparent;
}

.headerSearch input {
	border: none;
	width: 600px;
	padding: 10px;
	outline: none;
	font-size: medium;
	background-color: transparent;
	display: inline-block;
	padding: 1px;
}

.headerSearch:active {
	border-color: #0074cc;
}

.headerSearch:focus {
	border: 3px solid #0074cc;
}

.sidebar {
	position: sticky;
    	top: 50px;
    	height: 500px;
	flex: 0.3;
	max-width: 164px;
	padding-left: 35px;
	font-size: 12px;
	border-right: 1px solid rgba(129, 129, 129, 0.2);
}

.sidebarOption {
	display: flex;
	align-items: end;
	padding: 5px 10px 10px 10px;
	cursor: pointer;
	color: #818181;
}

.sidebarOption img {
	padding-top: 10px;
	width: 22px;
}


.sidebarOptionActive,
.sidebarOptionActive img {
	background-color: #f1f2f3;
	color: black;
	font-weight: 800;
}

.sidebarOption:hover {
	color: black;
}

.infosize {
	font-size: 12px;
	padding-top: 3px;
}

.home {
	padding-top: 25px;
	color: #525960;
}

.public {
	padding-top: 7px;
	font-size: 11px;
}

.questionImg img {
	width: 16px;
	padding: 0 5px 5px 5px;
}

.infoImg {
	padding-top: 10px;
}

.infoImg img {
	width: 12px;
}

.questionsSide,
.collectives,
.expcollectives,
.teams,
.freeteam {
	font-size: 13px;
	padding-top: 1px;
	padding-right: 2px;
}

.collectiveSpace {
	padding-right: 55px;
}

.teamSpace {
	padding-right: 85px;
}

.tags,
.users,
.companies {
	padding-left: 25px;
}

.collectives {
	font-size: 11px;

}

.teams {
	font-size: 11px;
}

.expcollective {
	padding-top: 5px;
}

.sidebarOptionActive {
	border-right: 3px solid #f48225;
}

/* bigbody */
.mainBody {
	display: flex;
}

body {
	font-family: apple-system, BlinkMacSystemFont, "Segoe UI Adjusted",
		"Segoe UI", "Liberation Sans", sans-serif;
}

/* restBody */

.restBodyHead {
	flex: 1;
	padding-left: 15px;
}

.restBody {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px whitesmoke;
	background-color: white;
	margin: 8px;
	padding-right: 50px;
}

.restBodyLeft {
	margin: 20px 10px 0 0;
	border-radius: 10%;
	box-shadow: 1px 0px 5px 0px rgb(220, 225, 228);
}

.restBodyLeft img {
	width: 120px;
}

.box {
	width: 400px;
	padding: 0 100px 0 10px;
	margin-right: auto;
}

.name {
	margin-top: 20px;
	padding-right: 100px;
	font-weight: 400;
	font-size: xx-large;
}

.cakeDesc {
	font-size: 12px;
	font-weight: 400;
	color: gray;
	padding-left: 5px;
	margin-right: 10px;
}

.emoji {
	color: black;
	margin: 0 0 10px 15px;
}

.nameBodyOption {
	display: flex;
	cursor: pointer;
	color: grey;
	margin-top: 5px;
	padding-bottom: 12px;
}

.nameBodyOption img {
	width: 18px;
}

.localBodyOption {
	display: flex;
	cursor: pointer;
	color: grey;
	margin-left: 1px;
}

.profDetails {
	padding: 5px;
	color: #818181;
}

.localBodyOption img {
	width: 18px;
}

.section {
	display: flex;
	cursor: pointer;
}

.listSection {
	display: flex;
}

.profile {
	margin-left: 10px;
	color: rgb(253, 250, 250);
	padding: 7px;
	background-color: #f48225;
	display: flex;
	align-items: center;
	cursor: pointer;
	outline: none;
	border: none;
}

.profile:hover {
	margin-left: 10px;
	font-weight: 300;
	color: rgb(247, 244, 244);
	padding: 7px;
	background-color: rgb(216, 109, 22);
	display: flex;
	align-items: center;
	cursor: pointer;
	outline: none;
	border: none;
	box-shadow: 0px 2px 2px 0px;
}

.about {
	margin-left: 10px;
	color: gray;
	padding: 7px;
	background-color: white;
	display: flex;
	align-items: center;
	cursor: pointer;
	outline: none;
	border: none;
}

.about:hover {
	margin-left: 10px;
	font-weight: 300;
	color: rgb(32, 31, 31);
	padding: 7px;
	background-color: rgb(230, 225, 225);
	display: flex;
	align-items: center;
	cursor: pointer;
	outline: none;
	border: none;
	box-shadow: 0px 2px 2px 0px;
}

.stats {
	width: 150px;
	padding-right: 80px;
	margin: 0 20px 20px 0;
	border: 1px solid rgba(129, 129, 129, 0.2);
	border-radius: 5px;
}

.h2 {
	padding-top: 12px;
}

.numbers {
	display: flex;
	padding: 0 5px 0 10px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	cursor: pointer;
	margin: 10px 0 0 10px;
}

.statNum,
.statText {
	display: flex;
}

.statText {
	font-size: 13px;
	color: #818181;
}

.stats img {
	padding-left: 10px;
	width: 24px;
}

.statNumLeft {
	padding: 10px 7px 0px 10px;
}

.textNumLeft {
	padding: 0 7px 20px 10px;
}

.statNumRight {
	padding: 10px 7px 40px 0;
}

.textNumRight {
	padding: 40px 7px 0 20px;
}

.statTextPercent {
	display: flex;
	font-weight: 100;
	font-size: 15px;
	color: #818181;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	cursor: pointer;
	margin-left: 10px;
	padding-bottom: 10px;
}

.statNumber {
	padding: 5px;
}

.statTextPercent b {
	margin: 0 10px;
}

.space {
	padding-right: 40px;
}

.community {
	width: 160px;
	padding-right: 70px;
	margin-right: 30px;
	border: 1px solid rgba(129, 129, 129, 0.2);
	border-radius: 5px;
	font-size: 13px;
}

.community img {
	padding-top: 2px;
	width: 20px;
}

.communityOption {
	text-align: center;
	color: #0074cc;
}

.statHead {
	margin-top: 20px 0 10px 0;
	font-size: 21px;
}

.statUser {
	display: flex;
	margin-top: 10px;
}

.aboutSpace {
	padding-left: 200px;
}

.a:link {
	color: #0063bf;
	text-decoration: underline;
}

a:visited {
	color: #0063bf;
}

.aboutUser {
	padding-left: 10px;
}

.ulPadding {
	padding: 0 0 20px 30px;
}


.info {
	padding-top: 1px;
}

.infoLi {
	padding-top: 10px;
}

.infoSpace {
	padding: 10px 0;
}

.li {
	padding-top: 10px;
}

.collectiveHead {
	margin-bottom: 10px;
	font-size: large;
}

.collectiveBox {
	width: 230px;
	display: flex;
	border: 1px solid rgba(129, 129, 129, 0.2);
	border-radius: 5px;
	font-size: 13px;
}

.collectiveText {
	padding-top: 10px 0 15px 10px;
}

.badgeNumber {
	font-size: 21px;
	font-weight: 500;
}

.badges {
	width: 210px;
	padding-right: 10px;
	margin-right: 40px;
	border: 1px solid rgba(129, 129, 129, 0.2);
	border-radius: 5px;
}

.communityBadge {
	display: flex;
}

.viewSpace {
	padding-left: 40px;
	color: #818181;
	font-size: 13px;
}

.viewSpace img {
	width: 12px;
}

.communitySpace {
	padding-left: 30px;
}

.communityView {
	padding-left: 585px;
	color: #818181;
	font-size: 12px;
}

.gold img {
	width: 50px;
	padding: 5px;
}

.gold {
	display: flex;
}

.goldSub {
	margin-left: 7px;
	padding-top: 3px;
}

.badgeText {
	font-size: small;

}

.buttonBadge {
	display: flex;
	width: 200px;
	margin: 3px 0 3px 7px;
	text-align: right;
}

.badgeSpaceDelegate {
	margin-left: 60px;
	font-size: 10px;
}

.badgeSpaceInherit {
	margin-left: 54px;
	font-size: 10px;
}

.badgeSpaceCast {
	margin-left: 72px;
	font-size: 10px;
}

.badgeSpaceNet {
	margin-left: 66px;
	font-size: 10px;
}

.badgeSpaceCode {
	margin-left: 50px;
	font-size: 10px;
}

.badgeSpaceOver {
	margin-left: 59px;
	font-size: 10px;
}

.badgeSpaceSys {
	margin-left: 25px;
	font-size: 10px;
}

.badgeSpaceGreg {
	margin-left: 15px;
	font-size: 10px;
}

.badgeSpaceComp {
	margin-left: 54px;
	font-size: 10px;
}

.buttonBadge button {
	padding: 0 5px;
	cursor: pointer;
	align-items: center;
	border-color: rgba(129, 129, 129, 0.7);
	border-radius: 4px;
	border-width: 1px;
	margin: 0 15px 5px 0;
	color: #818181;
	font-size: 11px;
}

.communityLine {
	padding-bottom: 3px;
	width: 230px;
}

.communityLine img {
	text-align: justify;
	padding-top: 5px;
}

.stackNumber {
	padding-left: 70px;
	color: #818181;
}

.metaNumber {
	padding-left: 33px;
	color: #818181;
}

.superNumber {
	padding-left: 100px;
	color: #818181;
}

.serverNumber {
	padding-left: 95px;
	color: #818181;
}

.softwareNumber {
	padding-left: 40px;
	color: #818181;
}

.topTag {
	padding: 20px 0 5px 263px;
	font-size: 21px;
}

.topTagSpace {
	padding-left: 590px;
	color: #818181;
	font-size: 12px;
}


.dotGold {
	font-size: 18px;
	color: #FFD700;
}

.dotSilver {
	font-size: 18px;
	color: #c0c0c0;
}

.dotBronze {
	font-size: 18px;
	color: #d1a684;
}

.tagStart {
	display: flex;
}

.topTagTable {
	border-collapse: collapse;
	width: 750px;
	border: 1px solid rgba(129, 129, 129, 0.2);
	border-radius: 4px;
	z-index: 10;
	margin: 5px 0 0 263px;
}

.topTagTable td {
	padding: 5px;
	border-bottom: 1px solid rgba(129, 129, 129, 0.2);
}

.score {
	text-align: right;
}

.tag {
	margin: 5px;
}

.tag button {
	color: #2c5ca2;
	background-color: #e1ecf4;
	border: hidden;
	border-radius: 3px;
	padding: 4px 5px;
}

.tag button:hover {
	background-color: #d0e3f1;
}

.tagText {
	color: #6a737c;
	font-size: 13px;
	padding-right: 10px;
}

.topPost {
	padding: 20px 0 5px 263px;
	font-size: 21px;
}

.topPost p {
	font-size: 13px;
}

.blue {
	color: #0074cc;
}

.topPostFlex {
	display: flex;
}

.topPost {
	width: 300px;
}

.topPostButtonTableOne {
	border-collapse: collapse;
	width: 195px;
	border: 1px solid rgba(129, 129, 129, 0.2);
	border-radius: 4px;
	z-index: 10;
	margin: 37px 0 0 139px;
	font-size: 11px;
	color: #6a737c;
}

.topPostButtonTableOne td {
	padding: 5px;
	border: 1px solid rgba(129, 129, 129, 0.2);
}


.topPostButtonTableTwo {
	border-collapse: collapse;
	width: 95px;
	border: 1px solid rgba(129, 129, 129, 0.2);
	border-radius: 4px;
	z-index: 10;
	margin: 37px 0 0 10px;
	font-size: 11px;
	color: #6a737c;
}

.topPostButtonTableTwo td {
	padding: 5px;
	border: 1px solid rgba(129, 129, 129, 0.2);
}

.dark {
	background-color: #e3e6e8;
	color: black;
}

.green img {
	width: 20px;
	padding: 10px 5px 3px 5px;
}

.grey img {
	width: 20px;
	padding: 10px 5px 3px 5px;
}

.greenNumber {
	border: hidden;
	border-radius: 4px;
	background-color: #5eba7d;
	padding: 5px;
	color: white;
	font-size: 12px;
	margin: 0 10px 15px 0;
}

.greyNumber {
	border: 1px solid rgba(129, 129, 129, 0.4);
	border-radius: 4px;
	background-color: transparent;
	padding: 5px;
	color: black;
	font-size: 12px;
	margin: 0 10px 15px 0;
}

.topPostTable {
	border-collapse: collapse;
	width: 750px;
	border: 1px solid rgba(129, 129, 129, 0.2);
	border-radius: 4px;
	z-index: 10;
	margin: 5px 0 0 263px;
}

.topPostTable td {
	padding: 5px 5px 10px 5px;
	border-bottom: 1px solid rgba(129, 129, 129, 0.2);
}

.questionsSide {
	color: #397bc9;
	font-size: 15px;
}

.questions {
	color: #397bc9;
	font-size: 15px;
}

.postDate {
	color: #6a737c;
	font-size: 13px;
}

.topMetaFlex {
	display: flex;
}

.topNetworkFlex {
	display: flex;
}

.topMetaPost {
	padding: 20px 0 5px 260px;
	font-size: 21px;
}

.topNetworkPost {
	padding: 20px 0 5px 260px;
	font-size: 21px;
}

.metaPostImage img {
	padding-top: 27px;
	margin-left: 545px;
	width: 75px;
}

.networkPostView {
	margin-top: 35px;
	padding-left: 465px;
	color: #818181;
	font-size: 12px;
}

.topNetworkTable {
	border-collapse: collapse;
	width: 750px;
	border: 1px solid rgba(129, 129, 129, 0.2);
	border-radius: 4px;
	z-index: 10;
	margin: 5px 0 20px 263px;
}

.topNetworkTable td {
	padding: 5px 5px 10px 5px;
	border-bottom: 1px solid rgba(129, 129, 129, 0.2);
}

.footer {
	display: flex;
	background-color: #232629;
	color: #babfc4;
	font-size: 13px;
}

.footerLogo img {
	width: 35px;
	padding: 20px 0 0 128px;
}

.footer h4 {
	color: #babfc4;
	font-size: 13px;
	font-weight: 780;
	margin: 25px 25px 15px 25px;
}

.footer p {
	font-size: 13px;
	padding: 5px 5px 5px 25px;
	font-weight: 100;
}

.footerProduct {
	padding-left: 40px;
}

.footerCompany {
	padding-left: 50px;
}

.footerNetwork {
	padding-left: 80px;
}

.footerSocial {
	font-size: 11px;
	font-weight: 100;
	margin: 30px 30px 220px 90px;
}

.socialSpace {
	padding-right: 10px;
}

.footerRights {
	margin: 90px 90px 50px 90px;
}

.footerRights p {
	font-size: 11px;
	font-weight: 100;
	padding: 0px;
	margin: 0px;
}