* {
    margin: 0;
    padding: 0;
}

* Header */ .header {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    background-color: #f8f9f9;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.header:hover {
    border-style: hidden;
    background-color: #e3e6e8;
    opacity: 1;
}

.header__top {
    background-color: #f48225;
    height: 2px;
}

.header__rest {
    display: flex;
    align-items: center;
    background-color: #f8f9f9;
    padding-left: 150px;
    padding-right: 150px;
}

.header__rest img {
    width: 150px;
    height: auto;
    background-color: white;
    padding: 1px;
    padding-right: 5px;
    padding-left: 5px;
}
.header__rest span {
    padding: 10px;
    cursor: pointer;
    background-color: #f8f9f9;
}

.prod {
    margin-top: 5px;
    margin-left: 8px;
    font-size: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #f8f9f9;
    opacity: 0.7;
}

.prod:hover {
    border-style: hidden;
    background-color: #e3e6e8;
    border-radius: 20px;
    opacity: 1;
}

.header__rest img:hover {
    border-style: hidden;
    background-color: #e3e6e8;
}

.pfpage {
    display: flex;
    align-items: center;
    background-color: #f8f9f9;
    border-style: hidden;
}

.pfpage img {
    width: 24px;
    height: 24px;
}

.pfpage p {
    text-align: justify;
}

.pfpage:hover {
    cursor: pointer;
    background-color: #e3e6e8;
    border-style: hidden;
}

.header__rest img {
    margin-left: 5px;
    cursor: pointer;
    background-color: #f8f9f9;
    padding: 5px;
}

.material-icons {
    color: gray;
    background-color: #f8f9f9;
}

.material-icons:hover {
    cursor: pointer;
    border-style: hidden;
    background-color: #e3e6e8;
}

.header__search {
    display: flex;
    flex: 1;
    align-items: center;
    border: 1px solid #babfc4;
    margin-top: 10px;
    margin-bottom: 10px;
    border-width: 2px;
    border-radius: 5px;
    padding: 1px;
    line-height: 10px;
    color: white;
    background-color: white;
    height: 30px;
}

.header__search .material-icons{
    padding:0px;
    background-color:transparent;
}

.header__search input {
    border: none;
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: medium;
    background-color: transparent;
    display: inline-block;
    padding: 1px 1px;
}

.header__search:active {
    border-color: #0074cc;
}

.header__search:focus {
    border: 3px solid #0074cc;
}

.sidebar {
    flex: 0.3;
    max-width: 150px;
    padding-left: 150px;
    font-size: 12px;
    border-right: 1px solid #818181;
}

.sidebarOption {
    display: flex;
    align-items: right;
    height: 25px;
    padding: 0 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    color: #818181;
}

.sidebarOption .material-icons {
    padding: 5px;
}

.sidebarOption:hover .material-icons,
.sidebarOption__active,
.sidebarOption__active .material-icons {
    background-color: #f1f2f3;
    color: black;
    font-weight: 800;
}

.sidebarOption:hover {
    color: black;
}

.infosize {
    font-size: 12px;
    padding-top: 3px;
}

.home {
    padding-top: 30px;
}

.public {
    padding-top: 25px;
}

.questions,
.collectives,
.expcollectives,
.teams,
.freeteam {
    font-size: 13px;
    padding-top: 5px;
    padding-right: 2px;
}

.tags,
.users,
.companies {
    padding-left: 25px;
}

.collectives {
    padding-right: 58px;
}

.teams {
    padding-right: 80px;
}

.expcollective {
    padding-top: 5px;
}

.sidebarOption__active {
    border-right: 3px solid #f48225;
}

/* bigbody */
.main__body {
    display: flex;
}

body {
    overflow-x: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* listsetting */

.listhead {
    flex: 1;
    padding-left: 15px;
}
.listsetting {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px whitesmoke;
    background-color: white;
    z-index: 999;
    padding: 8px;
}

.listsettingleft {
    box-shadow: 1px 0px 5px 0px rgb(220, 225, 228);
}

.listsettingleft img {
    width: 128px;
}

.box {
    width: 400px;
    padding-right: 100px;
    /* margin: 20px; */
    margin-right: 300px;
}
.name {
    margin-top: 15px;
    /* margin-right: 100px; */
    padding-right: 100px;
    font-weight: 540;
    font-size: xx-large;
    /* padding-left: 15px; */
}

.cakedes {
    font-size: 12px;
    font-weight: 400;
    margin-right: 20px;
    color: gray;
    padding-left: 5px;
    margin-right: 10px;
    margin-top: 8px;
}

.emoji {
    color: black;
    margin-left: 15px;
    margin-bottom: 10px;
}

.namebodyopt {
    display: flex;
    align-items: 40px;
    height: 40px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    color: grey;
    margin-top: 5px;
}
.locbodyopt {
    display: flex;
    align-items: 40px;
    height: 40px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    color: grey;
    margin-left: 1px;
}

.profdetails {
    padding: 5px;
    color: #818181;
}

.locbodyopt img {
    width: 20px;
    height: 20px;

}

.section {
    display: flex;
    cursor: pointer;
}

.listsection {
    display: flex;
}

.profile {
    margin-left: 10px;
    text-transform: capitalize;
    color: rgb(253, 250, 250);
    padding: 7px;
    border-radius: 30px;
    background-color: #f48225;
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
}

.profile:hover {
    margin-left: 10px;
    text-transform: capitalize;
    font-weight: 300;
    color: rgb(247, 244, 244);
    padding: 7px;
    border-radius: 30px;
    background-color: rgb(216, 109, 22);
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 0px 2px 2px 0px;
}

.about {
    margin-left: 10px;
    text-transform: capitalize;
    color: gray;
    padding: 7px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
}

.about:hover {
    margin-left: 10px;
    text-transform: capitalize;
    font-weight: 300;
    color: rgb(32, 31, 31);
    padding: 7px;
    border-radius: 30px;
    background-color: rgb(230, 225, 225);
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 0px 2px 2px 0px;
}

.stats {
    width: 150px;
    padding-right: 100px;
    margin-right: 60px;
    border: 1px solid #818181;
    border-radius: 5px;
    margin-bottom: 60px;
}

.h2 {
    padding-top: 12px;
}

.numbers {
    display: flex;
    align-items: 40px;
    height: 40px;
    padding: 0 5px;
    padding-left: 10px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
}

.statnum,
.statext {
    display: flex;
}

.statext {
    font-size: 13px;
    color: #818181;
}

.statnumleft {
    padding: 7px;
    padding-top: 10px;
}

.textnumleft {
    padding: 7px;
    padding-top: 3px;
    padding-bottom: 20px;
}

.statnumright {
    padding: 7px;
    padding-top: 10px;
    padding-left: 40px;
}

.textnumright {
    padding: 7px;
    padding-left: 40px;
    padding-top: 3px;
    padding-bottom: 20px;
}

.stattext {
    display: flex;
    font-weight: 100;
    font-size: 15px;
    align-items: 40px;
    height: 40px;
    padding: 5px 5px;
    color: #818181;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    margin-left: 10px;
}

.statnumber {
    padding: 5px;
}

.stattext b {
    margin-left: 10px;
    margin-right: 10px;
}

.space {
    padding-right: 40px;
}

.orange {
    color: #f48225;
}

.community {
    width: 160px;
    padding-right: 100px;
    margin-right: 60px;
    border: 1px solid #818181;
    border-radius: 5px;
    font-size: 13px;
}

.community img {
    width: 20px;
    height: 20px;
}

.stathead {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 21px;
    margin-bottom: 10px;
}

.statuser {
    display: flex;
    margin-top: 20px;
}

.abspace {
    padding-left: 250px;
}

.a:link {
    color: #0063bf;
    text-decoration: underline;
}

a:visited {
    color: #0063bf;
}

.aboutuser {
}

.info {
    padding-top: 10px;
}

.li {
    padding-top: 10px;
}

.collhead {
    margin-bottom: 10px;
    font-size: large;
    font-weight: 100;
}

.collbox {
    width: 200px;
    display: flex;
    border: 1px solid #818181;
    border-radius: 5px;
    font-size: 13px;
}

.colltext {
    padding-top: 10px;
    padding-left: 15px;
}

.badgenum {
    font-size: 21px;
    font-weight: bold;
}

.badges {
    width: 210px;
    padding-right: 10px;
    margin-right: 40px;
    border: 1px solid #818181;
    border-radius: 5px;
}

.commbadge {
    display: flex;
}

.commspace {
    padding-left: 180px;
}

.gold img {
    width: 50px;
    padding: 5px;
}

.gold {
    display: flex;
}

.goldsub {
    margin-left: 7px;
    padding-top: 3px;
}

.badgetext {
    font-size: small;
}

.buttonbadge {
    display:flex;
    width:200px;
    margin-left: 7px;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align:right;
}

.badgespace {
    margin-right: 20px;
    font-size: 10px;
}

.buttonbadge button {
    padding: 5px;
    cursor: pointer;
    align-items: center;
    border-color: #818181;
    border-radius: 4px;
    border-width: 1.5px;
    /* background-color: rgb(12, 173, 248); */
    margin-right: 15px;
    /* color: white; */
    font-size: 11px;
}

.commline {
    padding-bottom: 7px;
}

.commline img {
    text-align: justify;
}
