
* {
  margin: 0;
  padding: 0;
}


* Header */

.header {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
  background-color: #f8f9f9;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.header:hover{
  border-style: hidden;
  background-color: #e3e6e8;
  opacity:1.0;
}

.header__top{
  background-color: #f48225;
  height: 2px;
}

.header__rest {
  display: flex;
  align-items: center;
  background-color: #f8f9f9;
}

.header__rest span {
  padding: 10px;
  cursor: pointer;
  background-color: #f8f9f9;

}

.prod {
  margin-top: 5px;
  margin-left: 8px;
  font-size: 12px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #f8f9f9;
  opacity:0.7;

}

.prod:hover{
  border-style: hidden;
  background-color: #e3e6e8;
  border-radius: 20px;
  opacity:1.0;
}

.header__rest img:hover {
  border-style: hidden;
  background-color: #e3e6e8;
}

.pfpage{
  display: flex;
  align-items: center;
  background-color: #f8f9f9;
  border-style: hidden;
}

.pfpage:hover{
  cursor: pointer;
  background-color: #e3e6e8;
  border-style: hidden;
}


.header__rest img {
  margin-left: 5px;
  cursor: pointer;
  background-color: #f8f9f9;
  padding:5px;
}

.material-icons {
  color: gray;
  background-color: #f8f9f9;
}

.material-icons:hover {
  cursor: pointer;
  border-style: hidden;
  background-color: #e3e6e8;
}

.header__search{
  display: flex;
  flex:1;
  align-items: center;
  border: solid;
  border-color:#e3e6e8;
  margin-top: 10px;
  margin-bottom: 10px;
  border-width: 2px;
  border-radius:5px;
  padding: 1px;
  line-height: 10px;
  color: white;
  background-color: white;
  height: 30px;
}

.header__search input{
  border: none;
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: medium;
  background-color: transparent;
  display:inline-block;
  padding:1px 1px;
} 

.header__search:active{
  border-color: #0074cc;

}

.header__search:focus{
  border: 3px solid #0074cc;
}


.sidebar{
  flex:0.3;
  max-width: 150px;
  padding-right: 20px;
  padding-left: 150px;
  font-size: 12px;
}



.sidebarOption {
  display: flex;
  align-items: right;
  height: 25px;
  padding: 0 10px;
  padding-top:10px;
  padding-bottom:10px;
  cursor: pointer;
  color: #818181;
}

.sidebarOption .material-icons {
  padding: 5px;
}


.sidebarOption:hover .material-icons,
.sidebarOption__active,
.sidebarOption__active .material-icons {
  background-color: #F1F2F3;
  color: black;
  font-weight: 800;
}

.sidebarOption:hover{
  color: black;
}

.home{
  padding-top: 30px;
}

.public{
  padding-top: 25px;
}


.questions,
.collectives,
.expcollectives,
.teams,
.freeteam{
  padding-top: 5px;
  padding-right:2px
}

.tags,
.users,
.companies{
  padding-left:25px;
}

.collectives{
  padding-right:58px;
}

.teams{
  padding-right:80px;
}


.expcollective{
  padding-top:5px;
}


.sidebarOption__active{
  border-right: 3px solid #f48225;
}





